<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- xacro:include filename="robot_core.xacro" / -->
      <!-- <xacro:include filename="sammy_param.xacro" /> -->
      <xacro:include filename="sammy_sensors.xacro" />
      <xacro:include filename="cub_cadet_param.xacro" />
      <xacro:include filename="ack_new_macros.xacro" />
  
</robot>
