<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="odom_left_serial_node" output="screen">
    <param name="port" value="/dev/odom_left"/>
    <param name="baud" value="57600"/>
  </node>
  <node pkg="rosserial_python" type="serial_node.py" name="odom_right_serial_node" output="screen">
    <param name="port" value="/dev/odom_right"/>
    <param name="baud" value="57600"/>
  </node>
  <arg name="port" default="/dev/rosimu" />
  <node pkg="chip_imu_driver" type="chip_imu_driver_node" name="chip_imu_driver_node" output="screen">
    <param name="port" value="$(arg port)" />
  </node>

    <!-- ****** map server ***** -->
  <node name="map_server" pkg="map_server" type="map_server"
       args="$(find lawn_tractor_sim)/maps/435_pine_valley.yaml" output="screen">
    <param name="frame_id" value="map"/>
  </node>

  <!-- ****** rvis ***** -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d /home/tractor/catkin_ws/src/lawn_tractor_sim/lawn_tractor.rviz"/>
</launch>
