<launch>
  <arg name="urdf_file" default="/home/tractor/ros1_lawn_tractor_ws/project_notes/code_for_testing/chatgpturdfv3.urdf"/>
  <arg name="gui" default="true"/>

  <param name="robot_description" textfile="$(arg urdf_file)" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model my_robot -param robot_description -x 0 -y 0 -z 0.1" output="screen"/>

  <node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(arg urdf_file) --verbose $(arg gui)"/>
</launch>
